<div id="banner">
  <h1 id="heading-big">Explorer Laura</h1>
  <p id="banner-p">Photography Portfolio</p>
  <ul class="list-inline">
    <li>
      <a href= "https://www.instagram.com/explorerlaura_/" target="_blank"
      class= "logo">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <a href="#about" class="nav-arrow"><i class="fas fa-chevron-down"></i></a>
</div>
</div>