<div id="banner">
  <h1 id="heading-big">Laura Pham</h1>
  <p id="banner-p">Full-Stack Web Developer</p>
  <ul class="list-inline">
    <li>
      <a href="https://github.com/lauranpham" target="_blank"
      class= "logo">
        <i class="fab fa-github-square"></i>
      </a>
    </li>
    <li>
      <a href= "https://www.linkedin.com/in/laura-pham-641ab462" target="_blank"
      class= "logo">
        <i class="fab fa-linkedin"></i></i></a>
    </li>
    <li>
      <a href= "https://www.instagram.com/explorerlaura_/" target="_blank"
      class= "logo">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <a href="#about" class="nav-arrow"><i class="fas fa-chevron-down"></i></a>
</div>
</div>