<div class="container">
<h1>Portfolio</h1>
<div class="cards">
<% @photos.each do |photo| %>
    <% next if (image_tag asset_path(photo.src)).empty? %> 
    <div class="card">
        <%= image_tag asset_path(photo.src)%>
    </div>
<% end %>
</div>
</div>