#banner {
  height: 90vh;
  margin: 0px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#heading-big {
  /* color: #D391A2; */
  letter-spacing: 0.2em;
  font-size: 200%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  margin: 0 auto;
}
