// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "photos";
@import "blogs";

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display|Roboto:300|Staatliches&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* font-size: 10px; */
}

.bg {
  /* The image used */
  background-image: asset-data-url("background.jpg");

  /* Full height */
  background-size: 100vw 100vh;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Center and scale the image nicely */
  // background-position: center;
}

p {
  font-size: 20px;
}

h1,
h2 {
  font-family: "Staatliches", cursive;
}

h2 {
  /*background-color: #69A2B0;*/
  color: #022b3a;
  margin: 20px 0px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  padding-bottom: 20px;
}

.nav-arrow {
  margin: 10px 0px;
  font-size: 1.3em;
}

.nav-arrow:hover {
  color: #de744d;
}
a:hover {
  color: #de744d;
}
@media (min-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  body {
    background-size: 50vw;
  }
}
@media (min-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  body {
    background-size: 50vw;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  body {
    background-size: 100vh;
  }
}
@media (max-width: 450px) {
}

@media (max-width: 250px) {
}
