// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#photos {
  /*  background-image: url("https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
      background-size: fit;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
  height: 100vh;
}

#section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(250, 250, 250, 0.9);
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80vw;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.1);
  /*  box-sizing: border-box;*/
}

#photos-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.9);
  margin: 0 auto;
  padding: 10px 0;
  width: 30vw;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.1);
}

#photo-boxes {
  display: flex;
  flex-direction: column;
}

.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.photo-heading {
  margin: 10px 0px;
}

.description {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.photo-box img {
  width: 80%;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.photo-box img:hover {
  transform: scale(1.03);
}
